extern *usleep(us as i32) returns i32

actor Counter
    count as i64
    @increment
        count is count + 1
    @add n as i64
        count is count + n

*main
    c is spawn Counter
    c.increment()
    c.add(10)
    c.increment()
    c.add(5)
    extern.usleep(50000)
    log(0)
