extern *usleep(us as i32) returns i32

actor Accumulator
    sum as i64
    @add n as i64
        sum is sum + n
    @result
        log(sum)

*main
    a is spawn Accumulator
    for i in 1 to 1001
        send a, @add(i)
    extern.usleep(200000)
    send a, @result()
    extern.usleep(100000)
    0
