extern *usleep(us as i32) returns i32

actor Adder
    total as i64
    @add n as i64
        total is total + n
    @show
        log(total)

actor Multiplier
    product as i64
    @init
        product is 1
    @mul n as i64
        product is product * n
    @show
        log(product)

*main
    a is spawn Adder
    m is spawn Multiplier
    send m, @init()
    send a, @add(10)
    send a, @add(20)
    send a, @add(30)
    send m, @mul(2)
    send m, @mul(3)
    send m, @mul(7)
    usleep(100000)
    send a, @show()
    send m, @show()
    usleep(100000)
    0
