extern *usleep(us as i32) returns i32

actor Accumulator
    sum as i64
    @add n as i64
        sum is sum + n
    @result
        log(sum)

*main
    a is spawn Accumulator
    i is 1
    while i <= 1000
        send a, @add(i)
        i is i + 1
    usleep(200000)
    send a, @result()
    usleep(100000)
    0
