extern *usleep(us as i32) returns i32

actor Adder
    total as i64
    @add n as i64
        total is total + n
    @show
        log(total)

actor Multiplier
    product as i64
    @init
        product is 1
    @mul n as i64
        product is product * n
    @show
        log(product)

*main
    a is spawn Adder
    m is spawn Multiplier
    m.init()
    a.add(10)
    a.add(20)
    a.add(30)
    m.mul(2)
    m.mul(3)
    m.mul(7)
    extern.usleep(100000)
    a.show()
    m.show()
    extern.usleep(100000)
    0
