*is_even(n)
    n mod 2 equals 0 ? true ! false

*collatz(n)
    steps is 0
    while n neq 1
        if is_even(n)
            n is n / 2
        else
            n is 3 * n + 1
        steps is steps + 1
    return steps

*gcd(a, b)
    while b neq 0
        t is b
        b is a mod b
        a is t
    return a

*main
    log(collatz(27))
    log(gcd(48, 18))
    log(gcd(100, 75))
