# fizzbuzz.jade — Classic FizzBuzz
# Complexity: Beginner

*main()
    for i from 1 to 101
        if i % 15 equals 0
            log('FizzBuzz')
        elif i % 3 equals 0
            log('Fizz')
        elif i % 5 equals 0
            log('Buzz')
        else
            log(i)
