# std.os — Operating system interface

extern *getenv(name: %i8) -> %i8
extern *setenv(name: %i8, value: %i8, overwrite: i32) -> i32
extern *getcwd(buf: %i8, size: i64) -> %i8
extern *chdir(path: %i8) -> i32
extern *exit(code: i32)
extern *getpid() -> i32
extern *system(cmd: %i8) -> i32
extern *malloc(size: i64) -> %i8
extern *free(ptr: %i8)
extern *strlen(s: %i8) -> i64
extern *mkdir(path: %i8, mode: i32) -> i32
extern *rmdir(path: %i8) -> i32

*env(name)
    ptr is getenv(%name)
    if ptr as i64 equals 0
        return ""
    __string_from_ptr(ptr)

*set_env(name, value)
    setenv(%name, %value, 1)

*cwd()
    buf is malloc(4096)
    result is getcwd(buf, 4096)
    if result as i64 equals 0
        free(buf)
        return ""
    len is strlen(buf)
    __string_from_raw(buf, len, 4096)

*args()
    __get_args()

*has_flag(flag: String) -> bool
    a is args()
    i is 0
    while i < a.length
        if a[i] equals flag
            return true
        i += 1
    false

*get_option(flag: String) -> String
    a is args()
    i is 0
    while i < a.length - 1
        if a[i] equals flag
            return a[i + 1]
        i += 1
    ""

*pid()
    getpid()

*make_dir(path)
    mkdir(%path, 493)

*remove_dir(path)
    rmdir(%path)
