# std.os — Operating system interface

extern *getenv(name as %i8) returns %i8
extern *setenv(name as %i8, value as %i8, overwrite as i32) returns i32
extern *getcwd(buf as %i8, size as i64) returns %i8
extern *chdir(path as %i8) returns i32
extern *exit(code as i32)
extern *getpid() returns i32
extern *system(cmd as %i8) returns i32
extern *malloc(size as i64) returns %i8
extern *free(ptr as %i8)
extern *strlen(s as %i8) returns i64
extern *mkdir(path as %i8, mode as i32) returns i32
extern *rmdir(path as %i8) returns i32

*env(name)
    ptr is getenv(%name)
    if ptr as i64 equals 0
        return ""
    __string_from_ptr(ptr)

*set_env(name, value)
    setenv(%name, %value, 1)

*cwd
    buf is malloc(4096)
    result is getcwd(buf, 4096)
    if result as i64 equals 0
        free(buf)
        return ""
    len is strlen(buf)
    __string_from_raw(buf, len, 4096)

*args
    __get_args()

*has_flag(flag as String) returns bool
    a is args()
    i is 0
    while i < a.length
        if a[i] equals flag
            return true
        i += 1
    false

*get_option(flag as String) returns String
    a is args()
    i is 0
    while i < a.length - 1
        if a[i] equals flag
            return a[i + 1]
        i += 1
    ""

*pid
    getpid()

*make_dir(path)
    mkdir(%path, 493)

*remove_dir(path)
    rmdir(%path)
