extern *usleep(us as i32) returns i32

actor Worker
    count
    @ping n
        count is count + n

*main
    w is spawn Worker
    i is 0
    while i < 1000000
        send w, @ping(1)
        i is i + 1
    usleep(500000)
    log(0)
