extern *usleep(us as i32) returns i32

actor Worker
    count
    @ping n
        count is count + n

*main
    w is spawn Worker
    for i in 0 to 2000000
        send w, @ping(1)
    extern.usleep(500000)
    log(0)
