extern *usleep(us as i32) returns i32

actor Worker
    sum
    @add n
        sum is sum + n

*main
    a is spawn Worker
    b is spawn Worker
    c is spawn Worker
    d is spawn Worker
    e is spawn Worker
    f is spawn Worker
    g is spawn Worker
    h is spawn Worker
    for i in 0 to 1000000
        a.add(1)
        b.add(1)
        c.add(1)
        d.add(1)
        e.add(1)
        f.add(1)
        g.add(1)
        h.add(1)
    extern.usleep(800000)
    log(0)
