extern *usleep(us as i32) returns i32

actor Counter
    count
    @inc n
        count is count + n

*main
    w is spawn Counter
    for i in 0 to 5000000
        w.inc(1)
    extern.usleep(800000)
    log(0)
