*apply(f: (i64) -> i64, x: i64) -> i64
    f(x)

*main() -> i32
    base is 100
    adder is *fn(x: i64) -> i64 base + x
    total is 0
    i is 0
    while i < 10000000
        total is total + adder(i)
        total is total + apply(adder, i)
        i is i + 1
    log(total)
    0
