*apply(f, x)
    f(x)

*main
    base is 100
    adder is *fn(x) base + x
    total is 0
    i is 0
    while i < 10000000
        total is total + adder(i)
        total is total + apply(adder, i)
        i is i + 1
    log(total)
    0
