*apply(f, x)
    f(x)

*main
    base is 100
    adder is |x| base + x
    total is 0
    for i in 0 to 2000000000
        total is total + adder(i)
        total is total + apply(adder, i)
        total is total xor i
    log(total)
    0
