# Coroutine spawn benchmark
# Spawn 100K dispatch blocks, each yields a value

*main
    n is 100000
    total is 0
    for i in 0 to n
        g is dispatch
            yield 1
        total is total + g.next()
    log(total)
