*double(x)
    x * 2

*add_one(x)
    x + 1

*apply(f, x)
    f(x)

*main
    total is 0
    for i in 0 to 2000000000
        total is total + apply(double, i)
        total is total + (i ~ double ~ add_one)
        total is total xor i
    log(total)
    0
