*main
    n is 1500
    total is 0
    for i in 0 to n
        for j in 0 to n
            sum is 0
            for k in 0 to n
                sum is sum + (i * n + k) * (k * n + j) + (total xor k)
            total is total + sum
    log(total)
    0
