*a_elem(i, j)
    ((i + j) * (i + j + 1)) / 2 + i + 1

*main
    n is 1000
    sum is 0
    for iter in 0 to 2000
        for i in 0 to n
            acc is 0
            for j in 0 to n
                acc is acc + a_elem(i, j) * (j + 1)
            sum is sum + acc mod 1000000
    log(sum)
    0
