type Vec3
    x
    y
    z

*dot(a, b)
    a.x * b.x + a.y * b.y + a.z * b.z

*main
    total is 0
    for i in 0 to 800000000
        a is Vec3(x is i xor total, y is i + 1, z is i + 2)
        b is Vec3(x is i + 3, y is i + 4, z is i + 5)
        total is total + dot(a, b)
    log(total)
    0
